/*
Theme Name:     Flat Flowers Theme
Theme URI:      
Description:    Storefront child theme.
Author:         Me
Author URI:     
Template:       storefront
Version:        0.1.0
*/

.related, .site-info {
    display: none;
}
.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    background-color: rgb(135, 204, 201);
    color: #000;
}
.site-footer a:not(.button):not(.componennts-button) {
    text-decoration: none;
}
ul.products li.product .button, ul.products .wc-block-grid__product .button, .wc-block-grid__products li.product .button, .wc-block-grid__products .wc-block-grid__product .button {
    border-radius: 10px;
}
ul.products li.product h2 {
    padding-top: 1rem;
}
.product img {
    margin:	0 auto;
}
.site-header, 
.home.page:not(.page-template-template-homepage) .site-header, 
.home.post-type-archive-product .site-header,
.site-header {
    margin-bottom: 2rem;
}
    
.storefront-handheld-footer-bar ul li.my-account{
    display: none;
}
.storefront-handheld-footer-bar ul.columns-3 li {
    width: 50%;
}
@media (min-width: 768px){
    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
        width: 24.111111%;
        }
    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
        margin-bottom: 2em;
    }
    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
        margin-right: 9.111111%;
    }
    .storefront-full-width-content.woocommerce-cart .entry-header, .storefront-full-width-content.woocommerce-checkout .entry-header, .storefront-full-width-content.woocommerce-account .entry-header, .storefront-full-width-content .woocommerce-products-header {
        text-align: left;
        padding: 0 0 1.4rem;
    }
}